{% extends 'base.html'%}
{% load static %}

{% block content %}

<section id="aa-product-details">
    <div class="container">
        <div class="row">
            <div class="span9">
                <h1 align="center"> About <span style="color:#ffab00;"> Us</span></h1>
                <hr class="soft">
                <div id="legalNotice">
                    <h2>Welcome to KitabGhar !</h2><br>
                    <p>
                        KitabGhar is an online venture to serve preowned books throughout India. We are <strong>India's
                        first market place for second hand books.</strong>
                        We partner with multiple second hand retailers and markets around various cities, thus expanding
                        our inventory and ease of access.
                    </p>
                    <p>
                        We deal with educational sector including School, College, University
                        and recreational sector including Novels, activity oriented books for kids.
                        Starting as a small business in Chennai, we have big dreams to spread our wings over the globe.
                        Our aim is to bind the gap between people
                        looking for used books and the ones disposing the same.
                    </p>
                    <p>
                        We are taking steps towards partnering with schools and universities, to collect and distribute
                        books, and thus encourage studentsKitabGhar
                        to follow "Reduce,Reuse and Recycle" , thereby making this place better and greener.
                        We welcome schools and colleges to <strong><a
                            href="http://127.0.0.1:8000/senior/contactus/"><u>Contact us</u></a></strong> for the
                        same.
                        With a motivated team, we strive to deliver books with best quality and efficient shipping
                        methods.

                    </p>
                    <h2>Our Team </h2><br>
                    <div class="row">
                        <div class="col-md-10">
                            <p>
                                KitabGhar is proud to have dynamic and enthusiastic team players. We have domain
                                specific team members in the fields of
                                Technology, Operations and Marketing.
                            </p>
                            <p>
                                Our founder are <b style="font-size:15px;color:blue;">Abhinav Tripathi</b>, is passionate in the domain of preowned products. All three comes from
                                comes from a technical background, and had been
                                working in corporates in Software wing. He is completely into KitabGhar and is
                                excited to witness the growth.
                            </p>
                            <div class="col-md-2">
                                <div class="thumbnail">
                                    <div class="caption">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <h2>Operations </h2><br>
                    <p>
                        We have our own inventory other than partnering with markets and second hand retailers.
                        We collect used books from many sources and pile it up in our warehouse. These include
                        collecting books from customers who like to donate and give away the books,
                        customers who wish to sell their preowned old books.
                        Our QA team segregates these books based on quality.
                        Major filtering takes place here, with worn-out books being recycled. Soiled books are reshaped
                        and cleaned.
                        We have a knowledgeable team which separates these books genre wise. Our core team lists these
                        books on the website,
                        and is thus available to users.
                    </p>
                    <p>
                        We believe Education's prime support is books. We take steps to distribute books to financially
                        weak students to support them.
                        Please contact us in case there are institutions or students looking for
                        help. We would be running a background check and distribute the same.
                    </p>
                    <h2>Our History </h2><br>
                    <p>
                        We observed a lot of books going to trash, and eventually started collecting books from waste
                        paper marts. A lot of efforts were
                        taken to distinguish and segregate good quality used books. We eventually learned and moved to
                        other sources to collect used books.
                        With technology, we believe online used bookstore is the best way to deliver old books to
                        doorstep.
                        We started storing books in a small house and gradually moved to a small warehouse located at
                        Pipris Adharpur Bhadohi, Uttar Pradesh, India.
                    </p>
                    <p>
                        With growing customer needs, we converted ourselves from an in-house inventory to marketplace,
                        thus partnering with multiple sellers.
                        KitabGhar has become a go-to bookstore for buying books at cheap rates without
                        compromising on quality.
                    </p>
                </div>
            </div>
</section>




{% endblock%}